.contact{
    padding: 35px;
}


.member_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.member_wrapper .member_card .img_wrapper{
    position: relative;
    height: 400px;
    width: 300px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 10px;
}

.member_wrapper .member_card .img_wrapper img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150%;
    object-fit: cover;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.member_wrapper .member_card .img_wrapper:hover img {
    height: 130%;
}